* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 0.875rem;
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: $i * 0.25rem;
  }
  .mt-#{$i} {
    margin-top: $i * 0.25rem;
  }
  .me-#{$i} {
    margin-right: $i * 0.25rem;
  }
}
.form-wrapper {
  position: relative;
  label {
    color: rgba(110, 110, 110, 1);
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
  }
  input {
    position: relative;
    background: #fff;
    color: #6e6e6e;
    line-height: 1.5;
    font-size: 13px;
    height: 40px;
    border-radius: 0.375rem;
    border-color: #cccccc;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    &:focus {
      border-color: #0d99ff;
    }
  }
  .invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #ff5e5e;
  }
}

.btn {
  padding: 0.625rem 1rem;
  font-size: 0.813rem;
  border-radius: 0.375rem;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &-primary {
    border-color: #0d99ff;
    background-color: #0d99ff;
    border: 1px solid #0d99ff;
    color: white;
    &:hover {
      border-color: #007ed9;
      background-color: #007ed9;
    }
  }
  &-link {
    text-decoration: none;
    color: #0d99ff;
  }
}

.text-center {
  text-align: center !important;
}
